
<ul class="nav navbar-dark text-white bg-secondary ">
  <a href="#" class="navbar-brand text-white">RC</a>
  <li class="nav-item active">
    <a class="nav-link " href="#" [routerLink]="['/home']" routerLinkActive="activo" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#"[routerLink]="['/usuario']" routerLinkActive="activo">Usuario</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#"[routerLink]="['/clientes']" routerLinkActive="activo">Cliente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#"[routerLink]="['/contactos']" routerLinkActive="activo">Contacto</a>
  </li>
</ul>
<router-outlet></router-outlet>